*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #ffffff;
    background-image: url(../img/background-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.shadow-body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hotels-page {
    background-image: url(../img/background-hotel-reg.jpg);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;

    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font: inherit;

    color: #ffffff;
    background-color: #81b3d2;
    border: none;

    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button:focus,
.button:hover {
    background-color: #669ec0;
}

.button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.button-alt {
    font: inherit;

    color: #ffffff;
    background-color: #766357;
    border: none;

    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button-alt:focus,
.button-alt:hover {
    background-color: #604e43;
}

.button-alt:active {
    color: #928a85;
    background-color: #503e33;
}

/* Шапка */

.nav-container {
    color: #000000;

    background-color: #ffffff;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    padding: 15px 73px;

    position: relative;
}

.nav-container img {
    position: absolute;

    width: 140px;
    height: 70px;

    left: 50%;
    top: 0;

    transform: translateX(-50%);
}

.nav-menu {
    list-style: none;
}

.nav-menu .nav-item {
    display: inline-block;

    margin-right: 147px;
}

.nav-menu .nav-item:nth-child(2) {
    margin-right: 385px;
}

.nav-menu .nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #000000;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #81b3d2;
}

.nav-item a:active {
    color: #cacaca;
}

.current-nav-item {
    display: inline-block;

    margin-right: 0;
}

.nav-menu .nav-current {
    color: #766357;
}

/* Контент */

.main-present {
    margin-top: 76px;
    padding-bottom: 80px;

    position: relative;
}

.main-present::after {
    content: "";
    position: absolute;

    width: 1200px;
    height: 57px;

    left: 0;
    bottom: 0;

    background-image: url('../img/background-decor.png');
}

.main-logo {
    width: 458px;
    height: 358px;

    margin: 0 auto;
}

.main-info {
    background-color: #fff;

    padding: 60px 0;

    text-align: center;
}

.main-info h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-info p {
    color: #666666;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.content {
    text-align: center;
}

.content h3 {
    font-size: 21px;
    line-height: 21px;
}

.content b {
    font-weight: 400;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.features-apointment {
    width: 1200px;
}

.features-container {
    display: flex;

    width: 1200px;
    height: 255px;
}

.apointment-container {
    display: flex;
}

.features-container:first-child {
    order: -2;
}

.features-apointment {
    order: -1;
}

.features-item h3 {
    margin-top: 45px;
    margin-bottom: 25px;
}

.features-item b {
    display: block;

    margin-bottom: 25px;
}

.features-item {
    height: 255px;

    padding-bottom: 60px;
}

.features-item,
.features-info-item {
    width: 400px;
}

.features-image {
    width: 800px;
}

.features-color {
    color: #ffffff;

    background-color: #81b3d2;
}

.features-text {
    background-color: #eeeeee;
}

.features-info-item {
    padding-top: 155px;
    padding-bottom: 80px;
}

.features-info-item h3 {
    margin-bottom: 20px;
    position: relative;
}

.features-info-item h3::before {
    content: "";
    position: absolute;
    width: 76px;
    height: 76px;
    top: -100px;
    left: 50%;
    margin-left: -38px;
}

.features-info-item .housing:before {
    background: url("../img/icon-1.svg") no-repeat center center;
}

.features-info-item .food:before {
    background: url("../img/icon-3.svg") no-repeat center center;
}

.features-info-item .present:before {
    background: url("../img/icon-2.svg") no-repeat center center;
}

.search-hotel {
    text-align: center;
}

.search-hotel h2 {
    margin-top: 55px;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
}

.search-hotel p {
    line-height: 24px;
}

.search-container {
    position: relative;

    margin-top: 45px;
}

.search-form-container {
    width: 570px;

    margin: 0 auto;
}

.button-search {
    width: 570px;

    padding: 30px 0;

    font-size: 21px;
    line-height: 26px;
}

.search-modal {
    display: none;

    position: absolute;

    width: 570px;
    height: 395px;

    left: 0;

    z-index: 1000;

    background-color: #fff;
}

.button-search:focus + .search-modal {
    display: block;
}

.search-modal-item input,
.search-modal-item label {
    font: inherit;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    vertical-align: middle;
    text-transform: uppercase;
}

.search-modal-item input {
    background-color: #f2f2f2;

    border: none;
}

.search-modal-item input:hover {
    background-color: #ebebeb;
}

.search-modal-item input:focus {
    background-color: #ffffff;

    outline: none;

    border: 2px solid #e5e5e5;
}

/* Гостиницы */

.form-filter-container {
    padding: 30px 70px;
}

.form-group {
    width: 240px;

    margin-right: 15px;
}

.form-group input {
    display: none;
}

.form-group label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: 0;
    top: -2px;
    background: url(../img/checkbox-off.svg) no-repeat left center;
}

.form-group input:checked + label:before {
    background: url(../img/checkbox-on.svg) no-repeat left center;
}

.form-group input:disabled + label {
    opacity: 0.3;
}

.group-item {
    margin-bottom: 20px;
}

.group-item label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.group-title {
    margin-bottom: 20px;
}

.group-item:last-of-type {
    margin-bottom: 0;
}

.form-hotels .form-group-price {
    width: 320px;

    margin-left: auto;
}

.form-hotels {
    display: flex;

    color: #ffffff;
}

.form-hotels fieldset {
    border: none;
}

.form-hotels legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.form-hotels button {
    font: inherit;

    color: #ffffff;
    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 3px;

    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.form-hotels button:hover,
.form-hotels button:focus {
    color: #000000;
    background-color: #ffffff;
}

.sorting-container {
    position: relative;

    font-size: 12px;
    line-height: 18px;

    padding: 30px 70px;

    border-bottom: 1px solid #e5e5e5;

    background-color: #fff;
}

.sorting-container .sorting-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-container .sorting-btn {
    color: #c2c0c0;
}

.sorting-menu {
    list-style: none;

    display: inline-block;
}

.sorting-item {
    display: inline-block;

    margin-right: 30px;
}

.sorting-container .up-down-sorting {
    position: absolute;

    right: 70px;
    top: 50%;

    transform: translateY(-50%);
}

.up-down-sorting .sorting-btn:hover path,
.up-down-sorting .sorting-btn:focus path {
    fill: #231f20;
}

.up-down-sorting .sorting-btn:active path {
    fill: #81b3d2;
}

.up-down-sorting .btn-active path {
    fill: #81b3d2;
}

.up-down-sorting .sorting-btn {
    margin-right: 10px;
}

.up-down-sorting .sorting-btn:last-of-type {
    margin-right: 0;
}

.sorting-container span,
.sorting-container .sorting-menu,
.sorting-container .up-down-sorting {
    vertical-align: middle;
}

.sorting-result {
    margin-right: 45px;
}

.sorting-text {
    margin-right: 35px;
}

.sorting-menu .sorting-btn {
    border-bottom: 1px dotted #81b3d2;
}

.sorting-menu .sorting-btn:hover,
.sorting-menu .sorting-btn:focus {
    color: #81b3d2;
}

.sorting-menu .sorting-btn:active {
    color: #000000;
    border: none;
}

.sorting-container .btn-active {
    color: #81b3d2;
    border: none;
}

.up-down-sorting .sorting-btn:hover,
.up-down-sorting .sorting-btn:focus {
    color: #000000;
}

.up-down-sorting .sorting-btn:active {
    color: #81b3d2;
}

.sort-result-menu {
    list-style: none;

    background-color: #fff;
}

.sort-result-menu .result-menu-item {
    display: flex;
    justify-content: space-between;

    padding: 30px 70px;

    border-bottom: 1px solid #e5e5e5;
}

.result-item-container {
    display: flex;
    justify-content: space-between;

    width: 425px;
}

.rating-container {
    width: 115px;
}

.result-item-container img {
    width: 135px;
}

.hotel-info-container {
    width: 260px;
}

.hotel-info-container h3 {
    margin-bottom: 13px;
}

.hotel-info-container span {
    margin-right: 35px;
}

.hotel-info-container button {
    margin-top: 11px;
    margin-right: 1px;
    padding: 3px 17px;
}

.result-menu-item h3 {
    font-size: 21px;
    line-height: 18px;
    font-weight: 700;
}

.hotel-info-container a {
    color: #000000;
}

.hotel-info-container a:hover,
.hotel-info-container a:focus {
    color: #81b3d2;
}

.hotel-info-container a:active {
    color: #cacaca;
}

.rating {
    background-color: #f2f2f2;
    padding: 5px 15px;
    color: rgba(0, 0, 0, 0.6);
}

.map-container {
    width: 100%;
    height: 470px;

    position: relative;
}

.map {
    position: absolute;

    left: 0;
    top: 0;
}

/* Подвал */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 70px;
}

.hotels-page .main-footer {
    padding: 30px 70px;
}

.footer-sedona {
    width: 240px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.social-menu {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-menu li {
    display: inline-block;
}

.site-creator {
    width: 240px;

    text-align: center;
}

.site-creator span,
.site-creator a {
    vertical-align: middle;
}

.site-creator span {
    margin-right: 8px;
}

.site-creator a {
    margin-top: 5px;
}

.site-creator a:hover path,
.site-creator a:focus path {
    fill: #81b3d2;
}

.site-creator a:active path {
    opacity: 0.5;
}

.site-creator span {
    line-height: 26px;
}

.social-btn {
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn::before {
    content: "";
    width: 22px;
    height: 22px;
}

.social-btn:active::before {
    opacity: 0.3;
}

.tw-btn .social-btn:before {
    background: url(../img/twitter.svg) no-repeat center center;
}

.fb-btn .social-btn:before {
    background: url(../img/fb-icon.svg) no-repeat center center;
}

.yt-btn .social-btn:before {
    background: url(../img/youtube.svg) no-repeat center center;
}

